
/* extra large device*/
@media(min-width:1200px) and (max-width:1399.98px) {
    .banner-item h1 {
        font-size: 50px;
    }
    .purchase-right a {
        padding: 20px 24px;
    }
}


/* large device*/
@media(min-width:992px) and (max-width:1199.98px) {
    .banner-item h3 {
        font-size: 34px;
    }
    .banner-item h1 {
        font-size: 40px;
    }
    .purchase-right a {
        font-size: 12px;
        padding: 15px 15px;
    }
    .mobile-text p {
        padding-right: 0px;
        padding-bottom: 10px;
    }
    .blog-text h3 {
        font-size: 18px;
    }
}
/* Medium device*/
@media(min-width:768px) and (max-width:991.98px) {
.navbar-brand img {
    padding-top: 10px;
}
.navbar-toggler i {
    color: #fff;
    font-size: 25px;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.navbar-nav {
    background: rgb(58, 54, 54);
    margin-top: 15px;
    width: 200px;
}

.navbar .navbar-nav .nav-link {
    padding-left: 0px;
    line-height: 40px;
    text-align: center;
}
.purchase-right a {
    padding: 15px 20px;
}
.purchase-left h3 {
    font-size: 24px;
}
.purchase-left p {
    font-size: 16px;
}
.buttons {
    text-align: center;
}
.mobile-text {
    padding-top: 0px;
}
.mobile-text h2 {
    font-size: 28px;
    padding-bottom: 10px;
}
.mobile-text p {
    padding-right:0px;
}
#mobile {
    position: relative;
}
.mobile-img {
    position: absolute;
    width: 35%;
    bottom: 0;
}
.mobile-feat {
    padding-left: 0px;
}
.mobile-feat i {
    margin-right: 10px;
}
.mobile-text p {
    padding-bottom: 15px;
}
.blog-text h3 {
    line-height: 24px;
}
.slick-slide img {
    width: 80%;
}
#brand {
    padding-top: 60px;
    padding-bottom: 60px;
}
#blog {
    padding-top: 60px;
    padding-bottom: 61px;
}
#footer {
    padding-bottom: 60px;
    padding-top: 60px;
}
.copyright-left a {
    margin-left: 10px;
}
.copyright-left p {
    font-size: 13px;
    line-height: 20px;
}
#copyright {
    padding-top: 35px;
    padding-bottom: 30px;
}
#footer {
    padding-bottom: 35px;
}


}
/* small device*/
@media(min-width:576px) and (max-width:767.98px){
  .navbar-brand img {
      width: 140px;
      padding-top: 10px;
  }

  .navbar-toggler i {
      color: #fff;
      font-size: 25px;
  }

  .navbar-toggler:focus {
      box-shadow: none;
  }

  .navbar-nav {
      background: rgb(58, 54, 54);
      margin-top: 15px;
      width: 200px;
  }

  .navbar .navbar-nav .nav-link {
      padding-left: 0px;
      line-height: 40px;
      text-align: center;
  }

  .banner-item h3 {
      font-size: 22px;
  }

  .banner-item h1 {
      font-size: 40px;
      line-height: 40px;
  }

  .banner-item p {
      font-size: 15px;
  }

  .banner-item a {
      padding: 15px 25px;
  }

  .banner-conten-slider {
      height: 80vh;
  }

  #banner {
      height: 75vh;
  }
  #service {
      padding-top: 50px;
      padding-bottom: 60px;
  }
    #mockup {
        padding-top: 50px;
    }
.purchase-left h3 {
    text-align: center;
    line-height: 36px;
}

.purchase-left p {
    font-size: 15px;
    text-align: center;
    line-height: 20px;
}

.purchase-right a {
    padding: 15px 25px;
}

.purchase-right {
    margin-top: 20px;
    text-align: center !important;
}
.purchase-left h3 {
    font-size: 26px;
}
.buttons .btn {
    padding: 7px 10px;
}
.project-info h3 {
    font-size: 16px;
}
#project {
    padding-top: 50px;
    padding-bottom: 70px;
}
#video {
    padding-top: 100px;
    padding-bottom: 100px;
}
.mobile-text h2 {
    font-size: 20px;
}

.mobile-text p {
    padding-right: 0;
}

.mobile-text p {
    padding-right: 0;
    padding-bottom: 15px;
}

.mobile-feat {
    padding-left: 0px;
}
.mobile-text p {
    font-size: 14px;
}
.mobile-feat i {
    margin-right: 10px;
}
.blog-text h3 {
    font-size: 20px;
    line-height: 24px;
}
#blog {
    padding-top: 50px;
    padding-bottom: 50px;
}
#brand {
    padding-top: 60px;
    padding-bottom: 60px;
}
.slick-slide img {
    width: 80%;
}
#footer {
    padding-bottom: 50px;
    padding-top: 50px;
}

.copyright-left p {
    color: #fff;
    padding-bottom: 10px;
    line-height: 27px;
}

#copyright {
    padding-top: 40px;
    padding-bottom: 30px;
}

.copyright-right {
    text-align: left !important;
}

.copyright-left a {
    margin-left: 0px
}

.copyright-left a::after {
    display: none;
}






}
/* extra small device*/
@media(max-width:575.98px){
.navbar-brand img {
    width: 140px;
    padding-top: 10px;
}
.navbar-toggler i {
    color: #fff;
    font-size: 25px;
}
.navbar-toggler:focus {
    box-shadow:none;
}
.navbar-nav {
    background: rgb(58, 54, 54);
    margin-top: 15px;
}
.navbar .navbar-nav .nav-link {
    padding-left: 0px;
    line-height: 40px;
    text-align: center;
}
.banner-item h3 {
    font-size: 22px;
}
.banner-item h1 {
    font-size: 40px;
    line-height: 40px;
}
.banner-item p {
    font-size: 15px;
}
.banner-item a {
    padding: 15px 25px;
}
.banner-conten-slider {
    height: 80vh;
}
#banner {
    height: 75vh;
}
#service {
    padding-top: 40px;
    padding-bottom: 40px;
}
.heading h3 {
    font-size: 28px;
    line-height: 30px;
}
#mockup {
    padding-top: 40px;
}
.heading p {
    font-size: 15px;
    padding: 0;
}
.purchase-left h3 {
    text-align: center;
    line-height: 36px;
}
.purchase-left p {
    font-size: 15px;
    text-align: center;
    line-height: 20px;
}
.purchase-right a {
    padding: 15px 25px;
}
.purchase-right {
    margin-top: 20px;
    text-align: center !important;
}
#project {
    padding-top: 40px;
    padding-bottom: 60px;
}
.buttons .btn {
    padding: 5px 13px;
    margin: 10px 3px;
}
.buttons {
    text-align: center;
}
#video {
    padding-top: 80px;
    padding-bottom: 60px
}
.video h3 {
    font-size: 22px;
}
.video p {
    font-size: 14px;
    line-height: 26px;
}
.mobile-text h2 {
    font-size: 20px;
}
.mobile-text p {
    padding-right: 0;
}
.mobile-text p {
    padding-right: 0;
    padding-bottom: 15px;
}
.mobile-feat {
    padding-left: 0px;
}
.counter-item {
    padding-top: 20px;
}
#blog {
    padding-top: 40px;
    padding-bottom: 40px;
}
.blog-text h3 {
    font-size: 18px;
}
.slick-slide img {
    width: 70%;
}
#brand {
    padding-top: 70px;
    padding-bottom: 70px;
}
#footer {
    padding-bottom: 40px;
    padding-top: 40px;
}
.footer-item .xtra3 {
    padding-right: 0;
}
.copyright-left p {
    color: #fff;
    padding-bottom: 10px;
    line-height: 27px;
}
#copyright {
    padding-top: 40px;
    padding-bottom: 30px;
}
.copyright-right {
    text-align: left!important;
}
.copyright-left a {
    margin-left: 0px
}
.copyright-left a::after {
    display: none;
}

.copyright-left p {
	line-height: 18px;
	font-size: 14px;
}

}